h1 {
	text-align: center;
}

select[multiple] {
	height: 70%;
}

#selector-div {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}

#create-taco {
	background-color: green;
	border: none;
}

#random-taco {
	background-color: white;
	border-color: black;
	color: black;
}

#reset-select {
	background-color: red;
	border: none;
}

.taco-part {
    width: 20%;
    height: 40vh;
    border: 1px black solid;
}

.disable-scroll {
	overflow-y:hidden;
}

.scrollable {
	overflow: auto;
	height: 40vh;
}

.large-button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
}